body{
    background:green; 
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    
}
#sky{
    background: linear-gradient(rgb(20, 0, 136), rgb(7, 103, 163), rgb(122, 148, 205));
    height:60%;
    width:100%;
}
#sun{
    font-size:80px;
    position:absolute;
    top:30px;
    left:90px;
}
#house1{
background:rgb(128, 108, 108);
height:200px;
width:230px;
position:absolute;
top: 270px;
left:90px;
}
#roof1{
   border-bottom:115px solid rgb(255, 0, 230); 
   border-left: 115px solid transparent;
   border-right:115px solid transparent;
   position:relative;
   bottom:115px;
   
}
#flowers{
    width:100%;
    position: absolute;
    bottom: -100px;
}
#door{
   background:#ffe7b2;
   height: 90px;
   width:60px; 
   position:absolute;
   top:110px;
   left:80px;
}
#window1{
background:#4185b5;
;
   height: 70px;
   width:60px; 
   position:absolute;
   top:24px;
   left:24px;
}
#window2{
   background:#4185b5;
   height: 70px;
   width:60px; 
   position:absolute;
   top:24px;
   left:144px; 
}
#cloud1{
    font-size:80px;
    position:absolute;
    top:30px;
    left:410px;
}
#cloud2{
    font-size:80px;
    position:absolute;
    top:120px;
    left:210px;
}
#cloud3{
    font-size:80px;
    position:absolute;
    top:200px;
    left:530px;
}
#cloud4{
    font-size:80px;
    position:absolute;
    top:200px;
    left:0px;
}

#lizard{
    font-size:50px;
    position:absolute;
    top:100px;
    left:10px;
}
#bunny{
   font-size:50px;
    position:absolute;
    top:140px;
    left:130px;  
}
#tree{
background:rgb(75, 55, 55);
height:130px;
width:70px;
position:absolute;
top: 320px;
left:410px; 
}
#leave1{
background:rgb(111, 184, 106);
height:90px;
width:90px;
border-radius:100%;
position:absolute;
top: -70px;
left:0px; 
}
#leave2{
background:rgb(111, 184, 106);
height:90px;
width:90px;
border-radius:100%;
position:absolute;
top: -70px;
left:-50px; 
}
#leave3{
background:rgb(111, 184, 106);
height:90px;
width:90px;
border-radius:100%;
position:absolute;
top: -130px;
left:30px; 
}
#leave4{
background:rgb(111, 184, 106);
height:90px;
width:90px;
border-radius:100%;
position:absolute;
top: -732px;
left:0px; 
}
#leave5{
background:rgb(111, 184, 106);
height:90px;
width:90px;
border-radius:100%;
position:absolute;
top: -140px;
left:-40px;  
}
#snail{
    font-size:60px;
    position:absolute;
    top:80px;
    left:-40px;
}
#bird{
    font-size:40px;
    position:absolute;
    top: -100px;
    left:-60px; 
}
#owl{
    font-size:40px;
    position:absolute;
    top: -173px;
    left:60px;   
}
#deer{
    font-size:140px;
    position:absolute;
    top: 343px;
    left:440px;   
}
