body{
    background:green; 
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    
}
#sky{
    background: linear-gradient(rgb(20, 0, 136), rgb(7, 103, 163), rgb(122, 148, 205));
    height:60%;
    width:100%;
}
#sun{
    font-size:80px;
    position:absolute;
    top:30px;
    left:90px;
}
#house1{
background:rgb(128, 108, 108);
height:200px;
width:230px;
position:absolute;
top: 320px;
left:30px;
}
#roof1{
   border-bottom:115px solid rgb(255, 0, 230); 
   border-left: 115px solid transparent;
   border-right:115px solid transparent;
   position:relative;
   bottom:115px;
   
}
#flowers{
    width:100%;
    position: absolute;
    bottom: 0px;
}