body{
    background: url(may-meadow-pastel-1185-in-architextures.jpg);
    background-size:420px;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
#sky{
    background: linear-gradient(rgb(94, 215, 255), rgb(132, 207, 254), rgb(255, 255, 255));
    height:60%;
    width:100%;
}
#sun{
    font-size:80px;
    position:absolute;
    top:30px;
    left:90px;
}